a.btn-dft {
    font-size: 16px;
    font-weight: 900;
    font-family: $Avenir;
    padding: 0 32px;
    line-height: 52px;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: $green2;
    }

    &_blue {
        color: white;
        background-color: $dBlue;
    }
    
    &_transparent {
        color: $dBlue;
        background-color: transparent;
    }
}

.link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: $green3;
    transition: color .3s ease-in-out;
    
    &:hover {
        color: $green2;
        
        .arrow_right {
            path {
                fill: $green2;
            }
            animation: arrow 2s linear infinite;
        }
    } 
    
    svg.arrow_right {
        width: 20px;
        height: auto;
        margin-top: 5px;
        margin-left: 24px;
        display: block;
    }
}

@keyframes arrow {
    from {
        transform: translatex(0);
        opacity: 1;
    }
    30% {
        transform: translatex(10px);
        opacity: 0;
    }
    60% {
        opacity: 0;
        transform: translatex(-10px);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

.headingBg {
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        top: 17px;
        left: 0;
        width: 60%;
        height: 15px;
        background-color: #DECBA1;
        z-index: -1;
    }

}
h1.headingBg::before {
    top: 40px;
    left: 0;
    width: 60%;
    height: 20px;
}

.accordion {
    &:not(:last-of-type) {
        margin-bottom: 8px;
    }

    .card {
        border: none;

        .card-header {
            display: flex;
            align-items: center;
            padding: 0;
            background-color: #EBF7FE;
            border: none;
            
            
            .btn-link {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 32px;
                font-size: 21px;
                font-weight: 500;
                border: none;
                color: black;
                
                &:hover,
                &:focus {
                    text-decoration: none;
                }
                
                &[aria-expanded="true"] {
                    background: white;

                    ~ .icon_plusMinus {
                        span:last-of-type {
                            transform: rotate(0);
                        }
                    }
                }

                p {
                    padding-right: 32px;
                    margin: 0;
                    font-size: 15px;
                }
            }

            .icon_plusMinus {
                position: absolute;
                right: 24px;
                width: 12px;
                height: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 100;

                span {
                    position: absolute;
                    height: 3px;
                    width: 11px;
                    display: block;
                    background-color: #4C4C4C;

                    &:last-of-type {
                        transition: transform .2s ease-in-out;
                        transform: rotate(90deg);
                    }
                }
            }
        }
        
        .card-body {
            p {
                padding-left: 48px;
                color: #4D4D4D;
            }
        }
    }
}