@font-face {
	font-family: AvenirLt;
	src: local("AvenirLt"),
		url(../assets/fonts/AvenirLTStd-Book.ttf);
	font-weight: 400;
}
@font-face {
	font-family: AvenirLt;
	src: local("AvenirLt"),
		url(../assets/fonts/AvenirLTStd-Roman.otf);
	font-weight: 500;
}
@font-face {
	font-family: AvenirLt;
	src: local("AvenirLt"),
		url(../assets/fonts/AvenirLTStd-Medium.ttf);
	font-weight: 600;
}
@font-face {
	font-family: AvenirLt;
	src: local("AvenirLt"),
		url(../assets/fonts/AvenirLTStd-Heavy.otf);
	font-weight: 900;
}