header {
    border-bottom: 1px solid #CECAC1;

    nav {
        max-width: 1600px;
        display: flex;
        margin: 0 auto;

        > ul {
            display: flex;

            li {
                a {
                    font-size: 15px;
                    letter-spacing: 0.7px;
                }
            }
        }

        &.nav-top {
            ul {
                width: 100%;
                padding: 10px 0;

                li:not(:last-of-type) {
                    a {
                        margin-right: 40px;
                    }
                }

                .lang {
                    margin-left: auto;
                }
            }
        }

        &.nav-main {
            align-items: center;
            padding: 40px 0;

            .logo {
                svg {
                    width: auto;
                    height: 28px;
                    display: block;
                }
            }

            .nav-main_sitenav {
                margin: 0 auto;

                li {
                    > a {
                        padding: 0 24px;
                        font-size: 15px;
                        font-weight: 500;
                        text-transform: uppercase;

                        transition: color .2s ease-in-out;

                        &:hover {
                            color: $green2;
                        }
                    }

                    &.shop-dropdown {
                        a {
                            cursor: pointer;
                            
                            &#shop-button {
                                position: relative;

                                &.active {
                                    color: $green2;
                                    
                                    .arrow-down {
                                        top: 2px;
                                        transform: rotate(180deg);
                                    }
                                }
    
                                .arrow-down {
                                    position: absolute;
                                    right: 0;
                                    top: 5px;
                                    width: 10px;
                                    height: 10px;
                                    background: url(../assets/icon-arrow_bottom.svg);
                                    background-repeat: no-repeat;
                                    transform-origin: left right;
                                    transition: all .5s ease-out;
                                }
                            }
                        }
                        
                        #shop-menu {
                            position: absolute;
                            left: 0;
                            top: 153px;
                            width: 100%;
                            padding: 48px 0;
                            opacity: 0;
                            visibility: hidden;
                            background: white;
                            border-bottom: 1px solid #CECAC1;

                            z-index: 10;
                            transform: translateY(-10px);
                            
                            transition: all .3s ease-in-out;
                            
                            &.active {
                                opacity: 1;
                                visibility: visible;
                                height: auto;
                                transform: translateY(0px);
                            }
                        
                            .container {
                                display: flex;
                                justify-content: space-between;
                        
                                .ddn_item {
                                    width: 25%;
                                    display: flex;
                                    flex-flow: column wrap;
                        
                                    img {
                                        width: 32px;
                                        height: 32px;
                                    }
                        
                                    h2 {
                                        margin: 24px 0;
                                    }
                        
                                    a {
                                        display: inline-block;
                                        padding-bottom: 8px;
                                        font-weight: 500;
                                        transition: all .2s ease-out 0s;

                                        &:hover {
                                            color: $green2;
                                            transform: translateX(5px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .user-profile {
                margin-right: 48px;
            }

            .cart {
                position: relative;
                padding-right: 26px;

                &::before {
                    content: '0';
                    position: absolute;
                    right: 0;
                    top: 7px;
                    width: 16px;
                    height: 16px;
                    padding: 2px;
                    font-size: 13px;
                    font-weight: 900;
                    line-height: 1.4;
                    text-align: center;
                    border-radius: 10px;
                    background-color: #DECBA1;
                }
            }
        }
    }
}