$Avenir: 'AvenirLt', sans-serif;
$Crimson: 'Crimson Text', serif;
$black: #000000;
$grey80: #333333;
$grey50: #818181;

$dBlue: #120D42;
$lBlue: #EBF7FE;

$green1: #1F473E;
$green2: #449268;
$green3: #3A7756;

$brown: #F4F4EC;
$brown2: #CECAC1;

$red: #FE7272;

$breakpoints: (
	"mobile": 800px,
	"tablet": 1024px,
	"laptop": 1440px
	);
	
	@mixin media($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
};