@import 'fonts.css';
@import 'mixins';
@import 'defaults';
@import 'header';

body {
    margin: 0;
    padding: 0;
    font-family: $Avenir;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: $Crimson;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 47px;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    font-family: $Avenir;
    font-weight: 500;
    line-height: 1.6;
    color: #4D4D4D;
    margin-bottom: 0;

    &.p_large {
        font-size: 19px;
    }
    &.p_xl {
        font-size: 21px;
        font-weight: 800;
    }
}

.icon_32 {
    width: 32px;
    height: auto;
    display: block;
}
.icon_40 {
    width: 40px;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: $grey80;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
    }
}

.container-full {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

#product_individual {
    display: flex;
    flex-flow: row nowrap;
    
    .product_image {
        position: relative;
        width: 50%;
        height: calc(100vh - 153px);
        overflow: hidden;
        display: inline-block;

        img {
            width: auto;
            height: 100%;
            position: absolute;
        }
    }

    .col-2 {
        width: 50%;
        padding: 40px 70px;
        float: right;

        h2 {
            margin-bottom: 16px;

            span {
                @extend h3;
                font-style: italic;
            }
        }

        .product_description {
            > p {
                margin: 32px 0 24px 0;
            }
            
            .checklist {
                column-count: 2;
                
                p {
                    position: relative;
                    padding-left: 18px;
                    margin: 0 0 8px 0;
                    font-size: 13px;
                    color: $grey50;
                    
                    &::before {
                        content: url(../assets/icon-check.svg);
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }

        .p_large {
            margin: 56px 0 8px 0;
        }

        .product_options {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            .product_options-input {
                position: relative;
                width: calc(33.333% - 20px);
                height: 70px;
                
                label, p {
                    margin: 0;
                    pointer-events: none;
                }
                
                label {
                    @extend h3;
                    position: absolute;
                    left: 16px;
                    top: 8px;
                }
                p {
                    position: absolute;
                    left: 16px;
                    top: 38px;
                    font-size: 14px;
                }
                
                input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    appearance: none;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    border-radius: 8px;
                    border: 1px solid #CECAC1;
                    background-color: white;

                    transition: all .2s ease-in-out;

                    &:focus {
                        outline: none;
                    }
                    
                    &:hover {
                        box-shadow: 
                        0px 3px 8px 1px rgba(0, 0, 0, 0.1),
                        0px 2px 3px 0px rgba(0, 0, 0, 0.1)
                    }
                    
                    &:checked {
                        border: 1px solid $green2;
                        background-color: #E6F2E7;
                    }
                }
            }
        }

        .routine {
            display: flex;
            justify-content: space-between;
            flex-flow: column wrap;

            .product_options-input {
                width: 100%;
                
                label {
                    line-height: 50px;
                }
                
                .price {
                    @extend h2;
                    top: 6px;
                    right: 24px;
                    left: unset;
                }
            }
        }
    }
}

.container {
    width: 1170px;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.col-2 {
    width: calc(50% - 24px);
}
.col-3 {
    width: calc(33.333% - 24px);
}
.col-4 {
    width: calc(33.333% - 24px);
}
.col-8 {
    width: calc(66.666% - 24px);
}

.heading-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}

section {
    padding: 140px 0;
}

.description-column {
    .container {
        .row {
            .col-3 {
                &:not(:nth-of-type(n+3)) {
                    padding-bottom: 56px;
                }

                @include media('mobile') {
                    padding-bottom: 32px;
                }
            }
        }
    }

    &:nth-of-type(2) {
        background-color: $brown;

        h2 {
            max-width: 780px;
            margin-bottom: 80px;

            @include media('mobile') {
                max-width: 100%;
            }
        }
    }

    &:nth-of-type(3) {
        h2 {
            max-width: 780px;
            margin-bottom: 80px;

            @include media('mobile') {
                max-width: 100%;
            }
        }

        .row {
            .col-2 {
                width: calc(50% - 10px);
                padding: 40px;
                border: 1px solid $brown2;
                box-sizing: border-box;

                .p_xl {
                    letter-spacing: -0.4px;
                    margin: 24px 0;
                }
            }
        }
    }
}

#faq {
    .container-full,
    .container {
        .col-8 {
            .headingBg {
                margin-bottom: 56px;
            }
        }
        > div:nth-of-type(2) {
            p {
                margin-bottom: 40px;
            }
        }
    }
}

.accordion {
    overflow: hidden;
    
    .acc_tab {
        overflow: hidden;
        color: black;
        margin-bottom: 8px;

        input {
            display: none;

            &:checked {
                + .acc_tab__label {
                    background: white;
                    
                    &::after {
                        transform: rotate(180deg);
                    }
                }
                
                ~ .acc_tab__content {
                    max-height: 100vh;
                    visibility: visible;
                    padding: 8px 64px 32px 64px;
                }
            }
        }
        
        &__label {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 21px;
            font-weight: 500;
            padding: 32px;
            background: $lBlue;
            cursor: pointer;
            
            transition: all .2s ease-in-out;
            
            &::before,
            &::after {
                content: "";
                position: absolute;
                right: 32px;
                height: 2px;
                width: 10px;
                background-color: black;
            }
            
            &::after {
                transition: transform .3s ease-in-out;
                transform: rotate(90deg);
            }
            &::before {
                right: 32px;
            }
            
            
            span {
                font-size: 15px;
                margin-right: 16px;
            }
        }
        
        &__content {
            max-height: 0;
            visibility: hidden;
            padding: 0 64px 0 64px;
            transition: all .3s ease-in-out;
            
            p {
                margin: 0;
            }
        }

        &__close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: $brown;
            cursor: pointer;
        }
    }
}

footer {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #EDEBDE;

    p:first-of-type {
        font-size: 21px;
        font-weight: 800;
    }

    p:nth-of-type(2),
    a {
        font-size: 14px;
        color: #4D4D4D;
    }
    a {
        font-weight: 500;
    }

    .sensilia_info {
        background-color: $dBlue;

        .sensilia_logo {
            height: 19px;
            width: auto;

            g {
                path {
                    fill: white!important;
                }
            }
        }
        
        p, a {
            font-size: 14px;
            font-weight: 500;
            color: white;
        }
    }

    .footer_navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        ul {
            width: calc(20% - 32px);
        }

        div {
            width: calc(40% - 32px);
        }

        .copyright {
            width: 100%;
            text-align: center;
            font-size: 14px;
        }
    }
}