@import 'fonts.css';
a.btn-dft {
  font-size: 16px;
  font-weight: 900;
  font-family: "AvenirLt", sans-serif;
  padding: 0 32px;
  line-height: 52px;
  transition: background-color 0.2s ease-in-out;
}
a.btn-dft:hover {
  background-color: #449268;
}
a.btn-dft_blue {
  color: white;
  background-color: #120D42;
}
a.btn-dft_transparent {
  color: #120D42;
  background-color: transparent;
}

.link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #3A7756;
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: #449268;
}
.link:hover .arrow_right {
  animation: arrow 2s linear infinite;
}
.link:hover .arrow_right path {
  fill: #449268;
}
.link svg.arrow_right {
  width: 20px;
  height: auto;
  margin-top: 5px;
  margin-left: 24px;
  display: block;
}

@keyframes arrow {
  from {
    transform: translatex(0);
    opacity: 1;
  }
  30% {
    transform: translatex(10px);
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.headingBg {
  position: relative;
  display: inline-block;
}
.headingBg::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  width: 60%;
  height: 15px;
  background-color: #DECBA1;
  z-index: -1;
}

h1.headingBg::before {
  top: 40px;
  left: 0;
  width: 60%;
  height: 20px;
}

.accordion:not(:last-of-type) {
  margin-bottom: 8px;
}
.accordion .card {
  border: none;
}
.accordion .card .card-header {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #EBF7FE;
  border: none;
}
.accordion .card .card-header .btn-link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 32px;
  font-size: 21px;
  font-weight: 500;
  border: none;
  color: black;
}
.accordion .card .card-header .btn-link:hover, .accordion .card .card-header .btn-link:focus {
  text-decoration: none;
}
.accordion .card .card-header .btn-link[aria-expanded=true] {
  background: white;
}
.accordion .card .card-header .btn-link[aria-expanded=true] ~ .icon_plusMinus span:last-of-type {
  transform: rotate(0);
}
.accordion .card .card-header .btn-link p {
  padding-right: 32px;
  margin: 0;
  font-size: 15px;
}
.accordion .card .card-header .icon_plusMinus {
  position: absolute;
  right: 24px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.accordion .card .card-header .icon_plusMinus span {
  position: absolute;
  height: 3px;
  width: 11px;
  display: block;
  background-color: #4C4C4C;
}
.accordion .card .card-header .icon_plusMinus span:last-of-type {
  transition: transform 0.2s ease-in-out;
  transform: rotate(90deg);
}
.accordion .card .card-body p {
  padding-left: 48px;
  color: #4D4D4D;
}

header {
  border-bottom: 1px solid #CECAC1;
}
header nav {
  max-width: 1600px;
  display: flex;
  margin: 0 auto;
}
header nav > ul {
  display: flex;
}
header nav > ul li a {
  font-size: 15px;
  letter-spacing: 0.7px;
}
header nav.nav-top ul {
  width: 100%;
  padding: 10px 0;
}
header nav.nav-top ul li:not(:last-of-type) a {
  margin-right: 40px;
}
header nav.nav-top ul .lang {
  margin-left: auto;
}
header nav.nav-main {
  align-items: center;
  padding: 40px 0;
}
header nav.nav-main .logo svg {
  width: auto;
  height: 28px;
  display: block;
}
header nav.nav-main .nav-main_sitenav {
  margin: 0 auto;
}
header nav.nav-main .nav-main_sitenav li > a {
  padding: 0 24px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}
header nav.nav-main .nav-main_sitenav li > a:hover {
  color: #449268;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown a {
  cursor: pointer;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown a#shop-button {
  position: relative;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown a#shop-button.active {
  color: #449268;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown a#shop-button.active .arrow-down {
  top: 2px;
  transform: rotate(180deg);
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown a#shop-button .arrow-down {
  position: absolute;
  right: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background: url(../assets/icon-arrow_bottom.svg);
  background-repeat: no-repeat;
  transform-origin: left right;
  transition: all 0.5s ease-out;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu {
  position: absolute;
  left: 0;
  top: 153px;
  width: 100%;
  padding: 48px 0;
  opacity: 0;
  visibility: hidden;
  background: white;
  border-bottom: 1px solid #CECAC1;
  z-index: 10;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  transform: translateY(0px);
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu .container {
  display: flex;
  justify-content: space-between;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu .container .ddn_item {
  width: 25%;
  display: flex;
  flex-flow: column wrap;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu .container .ddn_item img {
  width: 32px;
  height: 32px;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu .container .ddn_item h2, header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu .container .ddn_item #product_individual .col-2 .routine .product_options-input .price, #product_individual .col-2 .routine .product_options-input header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu .container .ddn_item .price {
  margin: 24px 0;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu .container .ddn_item a {
  display: inline-block;
  padding-bottom: 8px;
  font-weight: 500;
  transition: all 0.2s ease-out 0s;
}
header nav.nav-main .nav-main_sitenav li.shop-dropdown #shop-menu .container .ddn_item a:hover {
  color: #449268;
  transform: translateX(5px);
}
header nav.nav-main .user-profile {
  margin-right: 48px;
}
header nav.nav-main .cart {
  position: relative;
  padding-right: 26px;
}
header nav.nav-main .cart::before {
  content: "0";
  position: absolute;
  right: 0;
  top: 7px;
  width: 16px;
  height: 16px;
  padding: 2px;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  border-radius: 10px;
  background-color: #DECBA1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirLt", sans-serif;
  font-weight: 400;
}

h1, h2, #product_individual .col-2 .routine .product_options-input .price, h3, #product_individual .col-2 .product_options .product_options-input label, #product_individual .col-2 h2 span, #product_individual .col-2 .routine .product_options-input .price span {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 47px;
}

h2, #product_individual .col-2 .routine .product_options-input .price {
  font-size: 37px;
}

h3, #product_individual .col-2 .product_options .product_options-input label, #product_individual .col-2 h2 span, #product_individual .col-2 .routine .product_options-input .price span {
  font-size: 24px;
}

p {
  font-size: 16px;
  font-family: "AvenirLt", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #4D4D4D;
  margin-bottom: 0;
}
p.p_large {
  font-size: 19px;
}
p.p_xl {
  font-size: 21px;
  font-weight: 800;
}

.icon_32 {
  width: 32px;
  height: auto;
  display: block;
}

.icon_40 {
  width: 40px;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

.container-full {
  width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

#product_individual {
  display: flex;
  flex-flow: row nowrap;
}
#product_individual .product_image {
  position: relative;
  width: 50%;
  height: calc(100vh - 153px);
  overflow: hidden;
  display: inline-block;
}
#product_individual .product_image img {
  width: auto;
  height: 100%;
  position: absolute;
}
#product_individual .col-2 {
  width: 50%;
  padding: 40px 70px;
  float: right;
}
#product_individual .col-2 h2, #product_individual .col-2 .routine .product_options-input .price {
  margin-bottom: 16px;
}
#product_individual .col-2 h2 span, #product_individual .col-2 .routine .product_options-input .price span {
  font-style: italic;
}
#product_individual .col-2 .product_description > p {
  margin: 32px 0 24px 0;
}
#product_individual .col-2 .product_description .checklist {
  column-count: 2;
}
#product_individual .col-2 .product_description .checklist p {
  position: relative;
  padding-left: 18px;
  margin: 0 0 8px 0;
  font-size: 13px;
  color: #818181;
}
#product_individual .col-2 .product_description .checklist p::before {
  content: url(../assets/icon-check.svg);
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
}
#product_individual .col-2 .p_large {
  margin: 56px 0 8px 0;
}
#product_individual .col-2 .product_options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#product_individual .col-2 .product_options .product_options-input {
  position: relative;
  width: calc(33.333% - 20px);
  height: 70px;
}
#product_individual .col-2 .product_options .product_options-input label, #product_individual .col-2 .product_options .product_options-input p {
  margin: 0;
  pointer-events: none;
}
#product_individual .col-2 .product_options .product_options-input label {
  position: absolute;
  left: 16px;
  top: 8px;
}
#product_individual .col-2 .product_options .product_options-input p {
  position: absolute;
  left: 16px;
  top: 38px;
  font-size: 14px;
}
#product_individual .col-2 .product_options .product_options-input input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 8px;
  border: 1px solid #CECAC1;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
#product_individual .col-2 .product_options .product_options-input input:focus {
  outline: none;
}
#product_individual .col-2 .product_options .product_options-input input:hover {
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.1), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
#product_individual .col-2 .product_options .product_options-input input:checked {
  border: 1px solid #449268;
  background-color: #E6F2E7;
}
#product_individual .col-2 .routine {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}
#product_individual .col-2 .routine .product_options-input {
  width: 100%;
}
#product_individual .col-2 .routine .product_options-input label {
  line-height: 50px;
}
#product_individual .col-2 .routine .product_options-input .price {
  top: 6px;
  right: 24px;
  left: unset;
}

.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.col-2 {
  width: calc(50% - 24px);
}

.col-3 {
  width: calc(33.333% - 24px);
}

.col-4 {
  width: calc(33.333% - 24px);
}

.col-8 {
  width: calc(66.666% - 24px);
}

.heading-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
}

section {
  padding: 140px 0;
}

.description-column .container .row .col-3:not(:nth-of-type(n+3)) {
  padding-bottom: 56px;
}
@media only screen and (max-width: 799px) {
  .description-column .container .row .col-3 {
    padding-bottom: 32px;
  }
}
.description-column:nth-of-type(2) {
  background-color: #F4F4EC;
}
.description-column:nth-of-type(2) h2, .description-column:nth-of-type(2) #product_individual .col-2 .routine .product_options-input .price, #product_individual .col-2 .routine .product_options-input .description-column:nth-of-type(2) .price {
  max-width: 780px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 799px) {
  .description-column:nth-of-type(2) h2, .description-column:nth-of-type(2) #product_individual .col-2 .routine .product_options-input .price, #product_individual .col-2 .routine .product_options-input .description-column:nth-of-type(2) .price {
    max-width: 100%;
  }
}
.description-column:nth-of-type(3) h2, .description-column:nth-of-type(3) #product_individual .col-2 .routine .product_options-input .price, #product_individual .col-2 .routine .product_options-input .description-column:nth-of-type(3) .price {
  max-width: 780px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 799px) {
  .description-column:nth-of-type(3) h2, .description-column:nth-of-type(3) #product_individual .col-2 .routine .product_options-input .price, #product_individual .col-2 .routine .product_options-input .description-column:nth-of-type(3) .price {
    max-width: 100%;
  }
}
.description-column:nth-of-type(3) .row .col-2 {
  width: calc(50% - 10px);
  padding: 40px;
  border: 1px solid #CECAC1;
  box-sizing: border-box;
}
.description-column:nth-of-type(3) .row .col-2 .p_xl {
  letter-spacing: -0.4px;
  margin: 24px 0;
}

#faq .container-full .col-8 .headingBg,
#faq .container .col-8 .headingBg {
  margin-bottom: 56px;
}
#faq .container-full > div:nth-of-type(2) p,
#faq .container > div:nth-of-type(2) p {
  margin-bottom: 40px;
}

.accordion {
  overflow: hidden;
}
.accordion .acc_tab {
  overflow: hidden;
  color: black;
  margin-bottom: 8px;
}
.accordion .acc_tab input {
  display: none;
}
.accordion .acc_tab input:checked + .acc_tab__label {
  background: white;
}
.accordion .acc_tab input:checked + .acc_tab__label::after {
  transform: rotate(180deg);
}
.accordion .acc_tab input:checked ~ .acc_tab__content {
  max-height: 100vh;
  visibility: visible;
  padding: 8px 64px 32px 64px;
}
.accordion .acc_tab__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 500;
  padding: 32px;
  background: #EBF7FE;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.accordion .acc_tab__label::before, .accordion .acc_tab__label::after {
  content: "";
  position: absolute;
  right: 32px;
  height: 2px;
  width: 10px;
  background-color: black;
}
.accordion .acc_tab__label::after {
  transition: transform 0.3s ease-in-out;
  transform: rotate(90deg);
}
.accordion .acc_tab__label::before {
  right: 32px;
}
.accordion .acc_tab__label span {
  font-size: 15px;
  margin-right: 16px;
}
.accordion .acc_tab__content {
  max-height: 0;
  visibility: hidden;
  padding: 0 64px 0 64px;
  transition: all 0.3s ease-in-out;
}
.accordion .acc_tab__content p {
  margin: 0;
}
.accordion .acc_tab__close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #F4F4EC;
  cursor: pointer;
}

footer {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #EDEBDE;
}
footer p:first-of-type {
  font-size: 21px;
  font-weight: 800;
}
footer p:nth-of-type(2),
footer a {
  font-size: 14px;
  color: #4D4D4D;
}
footer a {
  font-weight: 500;
}
footer .sensilia_info {
  background-color: #120D42;
}
footer .sensilia_info .sensilia_logo {
  height: 19px;
  width: auto;
}
footer .sensilia_info .sensilia_logo g path {
  fill: white !important;
}
footer .sensilia_info p, footer .sensilia_info a {
  font-size: 14px;
  font-weight: 500;
  color: white;
}
footer .footer_navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer_navigation ul {
  width: calc(20% - 32px);
}
footer .footer_navigation div {
  width: calc(40% - 32px);
}
footer .footer_navigation .copyright {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
